body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    display: inline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 40px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 36px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    font-weight: bold;
}

.project {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
    font-size: 17px;
    color: black;
}

.social-icons img {
    width: 30px;
    height: 30px;
}
